.form-control {
  border-radius: 0.5rem !important;
}

.input-group {
  align-items: center;
}

.search-icon {
  margin-left: -4rem !important;
  z-index: 100 !important;
  color: VAR(--lightgray);
}
