<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
      <button #closeElem type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input-text-field
        [group]="formGroup"
        id="currentPassword"
        title="Current Password"
        floatingLabel="Current Password"
        [validators]="[Validators.required]"
        [inputType]="InputType.password">
      </input-text-field>
      <input-text-field
        [group]="formGroup"
        id="newPassword"
        title="New Password"
        floatingLabel="New Password"
        [validators]="[Validators.required]"
        [inputType]="InputType.password">
      </input-text-field>
      <input-text-field
        [group]="formGroup"
        id="confirmPassword"
        title="Confirm Password"
        floatingLabel="Confirm Password"
        [validators]="[Validators.required]"
        [inputType]="InputType.password">
      </input-text-field>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <primary-button
        [enabled]="formGroup.valid"
        [buttonPadding]="0.5"
        [loading]="loading"
        title="Change"
        (click)="changePassword()">
      </primary-button>
    </div>
  </div>
</div>
