<div class="container">
  <div class="cart-page-container" *ngIf="cartItems.isNotEmpty()">
    <div class="full-width">
      <div class="product-item-container" *ngFor="let cartProduct of cartItems">
        <app-cart-product-item class="full-width" [cartProduct]="cartProduct"></app-cart-product-item>
      </div>
    </div>
    <div class="order-container">
      <div class="order-summary-container">
        <h4>{{ 'ORDER_SUMMARY' | translate }}</h4>
        <div class="d-flex justify-content-between mt-4">
          <p>{{ 'ITEM_PRICES' | translate }}</p>
          <p>{{ price }} {{ 'CURRENCY' | translate }}</p>
        </div>
        <div class="horizontal-separator"></div>
        <div class="d-flex justify-content-between mt-2 fw-bold mb-4">
          <p>{{ 'TOTAL' | translate }}</p>
          <p>{{ price }} {{ 'CURRENCY' | translate }}</p>
        </div>
        <p>{{ 'DELIVERED_WITHIN' | translate }}</p>
        <div class="delivery-details">
          <p>{{ 'DELIVERY_NOTE' | translate }}</p>
        </div>
      </div>
      <div class="mt-4">
        <div #login data-bs-toggle="offcanvas" data-bs-target="#loginView"></div>
        <primary-button (onClick)="proceed()" title="Proceed to checkout" [buttonPadding]="0.5"></primary-button>
      </div>
      <div class="mt-2">
        <primary-button routerLink="/" class="mt-2" [title]="'CONTINUE_SHOPPING' | translate" [buttonPadding]="0.5"></primary-button>
      </div>
      <div class="mt-2 text-center text-decoration-underline clickable fw-bold" data-bs-target="#clearCart"
           data-bs-toggle="modal">
        <p>{{ 'REMOVE_ALL' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="empty-cart" *ngIf="cartItems.isEmpty()">
    <img src="https://etoileeg.online/public/Content/images/basket.png" loading="lazy">
    <p class="mb-3">{{ 'EMPTY_CART' | translate }}</p>
    <primary-button class="button-width" [title]="'CONTINUE_SHOPPING' | translate" (onClick)="continue()"></primary-button>
  </div>
</div>

<div class="modal fade modal-index" id="clearCart" tabindex="-1" aria-labelledby="clearCartModalLabel"
     aria-hidden="true">
  <app-remove-all-items-modal></app-remove-all-items-modal>
</div>
