<div class="container">
  <div class="cart-page-container">
    <div class="full-width">
      <div class="product-item-container" *ngFor="let cartProduct of cartItems">
        <app-cart-product-item class="full-width" [cartProduct]="cartProduct"></app-cart-product-item>
      </div>
    </div>
    <div class="order-container">
      <div class="order-summary-container">
        <h4>Order Summary</h4>
        <div class="d-flex justify-content-between mt-4">
          <p>Item Price(s)</p>
          <p>300 {{ 'CURRENCY' | translate }}</p>
        </div>
        <div class="horizontal-separator"></div>
        <div class="d-flex justify-content-between mt-2 fw-bold mb-4">
          <p>TOTAL</p>
          <p>300 {{ 'CURRENCY' | translate }}</p>
        </div>
        <p>Delivered Within 45 - 60 mins</p>
        <div class="delivery-details">
          <p>Order may delivered lately many Minutes in case rush hours (The product may differ from the image
            daily)</p>
        </div>
      </div>
      <div class="mt-4">
        <primary-button routerLink="/checkout" title="Proceed to checkout" [buttonPadding]="0.5"></primary-button>
      </div>
      <div class="mt-2">
        <primary-button class="mt-2" title="Continue Shopping" [buttonPadding]="0.5"></primary-button>
      </div>
      <div class="mt-2 text-center text-decoration-underline clickable fw-bold">
        <p>Remove All</p>
      </div>
    </div>
  </div>
</div>
