<div class="bg-white mb-3" (click)="dismissSearch()">
  <div class="header-content">
    <div class="logo-and-search">
      <nav class="navbar navbar-expand-lg navbar-light d-lg-none">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div (click)="goToHome()" class="logo-centered clickable">
        <img loading="lazy" src="https://www.etoileeg.online/Upload?id=73012" class="img-fluid">
      </div>
      <search-bar class="search-bar" *ngIf="!isMobileView"></search-bar>
    </div>
    <search-bar class="search-bar" *ngIf="isMobileView"></search-bar>
    <div class="user-info-and-language">
      <user-info [isMobileView]="isMobileView" class="ms-lg-auto"></user-info>
    </div>
  </div>
  <div class="header-separator"></div>
  <categories [categories]="categories"></categories>
</div>
