<div class="contact-info-container">
  <a href="tel:16312" class="contact-item-details">
    <i class="fas fa-phone-volume"></i>
    <p>{{ 'CALL_US' | translate }}</p>
  </a>
  <div class="contact-item-details">
    <i class="fas fa-truck"></i>
    <p>{{ 'DELIVERY_TIME' | translate }}</p>
  </div>
  <div class="contact-item-details">
    <i class="far fa-envelope"></i>
    <p>{{ 'EASY_PAYMENT_METHODS' | translate }}</p>
  </div>
</div>
<div class="sticky-md-top bg-white mb-3">
  <div class="header-content">
    <div class="logo-and-search">
      <nav class="navbar navbar-expand-lg navbar-light d-lg-none">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <a href="#" class="logo-centered">
        <img loading="lazy" src="https://www.etoileeg.online/Upload?id=73012" class="img-fluid">
      </a>
      <search-bar class="search-bar"></search-bar>
    </div>
    <div class="user-info-and-language">
      <user-info class="ms-lg-auto"></user-info>
      <div class="language-container" (click)="changeLanguage('ar')" *ngIf="currentLanguage === 'en'">
        <img loading="lazy" src="https://www.etoileeg.online/public/Content/images/egypt.png">
        <p>العربيه</p>
      </div>
      <div class="language-container" (click)="changeLanguage('en')" *ngIf="currentLanguage === 'ar'">
        <img loading="lazy" src="https://www.etoileeg.online/public/Content/images/usa.png">
        <p>English</p>
      </div>
    </div>
  </div>
  <div class="horizontal-separator"></div>
  <categories></categories>
</div>
