@import 'src/app/common/styles/mixin';

.header-content {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: space-between;

  @include res-lg-styles {
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-content: start;
  }

}

.logo-and-search {
  display: flex;
  align-items: center;
  flex-grow: 1;

  @include res-lg-styles {
    margin-bottom: 1rem;
    column-gap: 1rem;
  }
}

.search-bar {
  flex-grow: 1;
  margin-inline-end: 7rem;

  @include res-md-styles {
    margin-inline-end: 1rem;
  }
}

.user-info-and-language {
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

.logo-centered {
  //position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
  margin-inline-end: 2rem;

  img {
    width: 6rem;
  }

  @include res-md-styles {
    margin-inline-end: 0.5rem;
  }

}

.header-separator {
  border-bottom: 1px solid VAR(--lightgray);
  margin-top: 1rem;
  width: 100%;
}

.language-container {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  margin-inline-end: 2rem;
  cursor: pointer;

  img {
    width: 2rem;
    height: 1.5rem;
  }
}

