<div class="bg-white mb-3">
  <div class="header-content">
    <div class="logo-and-search">
      <nav class="navbar navbar-expand-lg navbar-light d-lg-none">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
      <div (click)="goToHome()" class="logo-centered clickable">
        <img loading="lazy" src="https://www.etoileeg.online/Upload?id=73012" class="img-fluid">
      </div>
      <search-bar class="search-bar"></search-bar>
    </div>
    <div class="user-info-and-language">
      <user-info class="ms-lg-auto"></user-info>
      <div class="language-container" (click)="changeLanguage('ar')" *ngIf="currentLanguage === 'en'">
        <img loading="lazy" src="https://www.etoileeg.online/public/Content/images/egypt.png">
        <p>العربيه</p>
      </div>
      <div class="language-container" (click)="changeLanguage('en')" *ngIf="currentLanguage === 'ar'">
        <img loading="lazy" src="https://www.etoileeg.online/public/Content/images/usa.png">
        <p>English</p>
      </div>
    </div>
  </div>
  <div class="header-separator"></div>
  <categories [categories]="categories"></categories>
</div>
