<div class="modal-container">
  <div #closeElem class="modal-close-icon" data-bs-dismiss="offcanvas">
    <i class="fa fa-times"></i>
  </div>
  <div class="text-center reset-title">
    <h3>{{ 'RESET_PASSWORD' | translate }}</h3>
  </div>
  <div class="container">
    <div class="d-flex column-gap-4">
      <input-text-field
        [group]="formGroup"
        id="newPassword"
        class="w-100"
        title="New Password"
        floatingLabel="New Password"
        [validators]="[Validators.required]"
        [inputType]="InputType.password">
      </input-text-field>
      <input-text-field
        [group]="formGroup"
        class="w-100"
        id="confirmChangePassword"
        title="Confirm Password"
        floatingLabel="Confirm Password"
        [validators]="[Validators.required]"
        [inputType]="InputType.password">
      </input-text-field>
    </div>
    <div class="mt-4">
      <primary-button
        [enabled]="formGroup.valid"
        [loading]="isLoading"
        [title]="'RESET' | translate"
        (onClick)="resetPassword()">
      </primary-button>
    </div>
  </div>
</div>
