<div id="bannersCarousel" class="carousel slide" data-bs-ride="true" *ngIf="banners.isNotEmpty()">
  <div class="carousel-indicators">
    <div *ngFor="let banner of banners; index as i">
      <button type="button" data-bs-target="#bannersCarousel" [attr.data-bs-slide-to]="i"
              [class.active]="i === 0" [attr.aria-current]="i === 0 ? 'true' : null"
              [attr.aria-label]="'Slide ' + (i + 1)"></button>
    </div>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let banner of this.banners; index as i" class="carousel-item clickable"
         (click)="showProduct(banner)"
         [class.active]="i === 0" data-bs-interval="5000">
      <img [src]="getImage(banner.image!)" class="d-block w-100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#bannersCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#bannersCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next </span>
  </button>
</div>
