<div class="select-branch-container">
  <div class="language-container" (click)="changeLanguage('ar')" *ngIf="currentLanguage === 'en'">
    <p>العربيه</p>
    <img loading="lazy" src="https://www.etoileeg.online/public/Content/images/egypt.png">
  </div>
  <div class="language-container" (click)="changeLanguage('en')" *ngIf="currentLanguage === 'ar'">
    <p>English</p>
    <img loading="lazy" src="https://www.etoileeg.online/public/Content/images/usa.png">
  </div>
  <div class="logo">
    <img loading="lazy" src="https://www.etoileeg.online/Upload?id=73012" class="img-fluid">
  </div>
  <div class="user-action-container">
    <div class="user-info-item-container" data-bs-toggle="offcanvas" data-bs-target="#loginView"
         aria-controls="loginView">
      <i class="fas fa-user icon-size"></i>
      <p>{{ 'LOGIN' | translate }}</p>
    </div>
    <div class="vertical-separator"></div>
    <div class="user-info-item-container" data-bs-toggle="offcanvas" data-bs-target="#registrationView"
         aria-controls="registrationView">
      <p>{{ 'REGISTER' | translate }}</p>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start canvas-width" tabindex="-1" id="loginView" aria-labelledby="loginViewLabel">
  <app-login></app-login>
</div>

<div class="offcanvas offcanvas-start canvas-width" tabindex="-1" id="registrationView" aria-labelledby="registrationViewLabel">
  <app-registration></app-registration>
</div>
