<div class="user-profile-info-container">

  <input-text-field
    [group]="formGroup"
    class="items-width"
    id="userName"
    [floatingLabel]="'NAME' | translate"
    title="Name">
  </input-text-field>
  <input-text-field
    [group]="formGroup"
    class="items-width"
    id="email"
    [floatingLabel]="'EMAIL' | translate"
    [inputType]="InputType.email"
    title="Email">
  </input-text-field>
  <div class="d-flex gap-2 w-100">
    <input-text-field
      [group]="formGroup"
      [isReadOnly]="true"
      class="flex-grow-1"
      [floatingLabel]="'PASSWORD' | translate"
      [inputType]="InputType.text"
      id="password"
      title="Password">
    </input-text-field>
    <primary-button
      data-bs-target="#changePassword"
      data-bs-toggle="modal"
      (onClick)="changePassword()"
      title="Change">
    </primary-button>
  </div>
  <mobile-number
    mobileNumberId="mobileNumber"
    [group]="formGroup"
    class="w-100">
  </mobile-number>
  <div class="w-100 alert alert-warning form-alert" *ngIf="showAlert">Nothing Changes</div>
  <primary-button
    class="ms-auto me-auto"
    [loading]="loading"
    (onClick)="saveChanges()"
    title="Save changes">
  </primary-button>
</div>

<div #myToast role="alert" aria-live="assertive"
     aria-atomic="true"
     class="toast fade"
     data-bs-delay="3000"
     data-bs-autohide="true">
  <div class="toast-body">
    Updated Successfully
  </div>
</div>
