@import "src/app/common/styles/mixin";

.container-item-row {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  direction: ltr;
}

.container-item-row.isLeft {
  flex-direction: row;
}


/* Main logo container */

.logo {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 40rem;

  @include res-lg-styles {
    display: none;
  }

}

/* Sub container */
.logo-container {
  position: relative;
  left: -15%;;
  right: initial;
  display: flex;
  align-items: start;
  direction: rtl;
}

.logo-container.isLeft {
  right: -15%;
  left: initial;
  direction: ltr;
}


.text-bg {
  width: 200px;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: center; /* Center items horizontally */
  align-items: center;
  color: white;
  font-size: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  font-weight: 600;
  text-align: center;
}

.text-bg.isLeft {
  justify-content: end;
  //flex-direction: row-reverse;
  //background-color: ;
}


/* Image inside container */
.img-bg {
  position: absolute;
  width: auto;    /* Image width */
  height: 100%;    /* Maintain aspect ratio */
}

.container-item {
  display: flex;
  align-items: center;
  width: 80%;
  direction: ltr;

  @include res-lg-styles {
    width: 100%;
  }

}

.scroll-list {
  display: flex;
  overflow-x: hidden; /* Hide scrollbars */
  scroll-behavior: smooth;
}

.item {
  min-width: 30%;

  @include res-md-styles {
    min-width: 50%;
  }

}

.arrow {
  color: #333;
  border: none;
  cursor: pointer;
  background-color: white;

  @include res-lg-styles {
    padding-left: 1rem;
    padding-right: 1rem;
  }

}


.arrow:hover {
  background-color: var(--primary-color) !important;
}

/* Disabled state for arrows */
.arrow.disabled {
  color: #999;
  cursor: not-allowed;
}

.arrow.disabled:hover {
  color: #999;
}
