@import "src/app/common/styles/mixin";

.container-item-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  direction: ltr;
  //height: 22rem;
}

.container-item-row.isLeft {
  flex-direction: row-reverse;
}


.logo {
  display: flex;
  position: relative;
  overflow: hidden;

  @include res-lg-styles {
    display: none;
  }

}

.logo-container {
  position: relative;
  left: -27%;
  right: initial;
  display: flex;
  align-items: flex-start;
  direction: rtl;
}

.logo-container.isLeft {
  right: -5%;
  left: initial;
  direction: ltr;
}


.text-bg {
  width: 200px;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: center; /* Center items horizontally */
  align-items: center;
  color: white;
  font-size: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  font-weight: 600;
  text-align: center;
}

.text-bg.isLeft {
  justify-content: end;
  //flex-direction: row-reverse;
  //background-color: ;
}


/* Image inside container */
.img-bg {
  position: absolute;
  width: auto;    /* Image width */
  height: 100%;    /* Maintain aspect ratio */
}

.container-item {
  display: flex;
  align-items: center;
  direction: ltr;

  @include res-lg-styles {
    width: 100%;
  }

}

.scroll-list {
  //display: flex;
  ////overflow-x: hidden; /* Hide scrollbars */
  //overflow-x: auto;
  //-ms-overflow-style: none; /* IE and Edge */
  //scrollbar-width: none;
  //scroll-behavior: smooth;
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  overflow-x: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  transition: -100% 5s ease-out;
  padding-left: 1rem;
  padding-right: 1rem;
}

.scroll-list::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  width: 87%;

  @include res-md-styles {
    width: 94%;
  }

}


.item {
  min-width: 32%;

  @include res-md-styles {
    min-width: 50%;
  }

}

.arrow {
  color: #333;
  border: none;
  cursor: pointer;
  background-color: white;
  height: min-content;
  margin-top: auto;
  margin-bottom: auto;

  @include res-lg-styles {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include res-md-styles {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

}


.arrow:hover {
  background-color: var(--primary-color) !important;
}

/* Disabled state for arrows */
.arrow.disabled {
  color: #999;
  cursor: not-allowed;
}

.arrow.disabled:hover {
  color: #999;
}


