<div [class.isLeft]="isLeft()" class="container-item-row">
  <div [class.isLeft]="isLeft()" class="container-item">
    <button (click)="scrollLeft()" [ngClass]="{'disabled': atStart}" class="arrow">&#9664;</button>
    <div #scrollList (scroll)="checkScrollPosition()" class="scroll-list">

      <div *ngIf="productModel !== null" class="d-flex">
        <div *ngFor="let product of productModel?.products" class="item">
          <app-product-item
            (showDetails)="showProductDetails(product!)"
            (addToCart)="addProduct(product!)"
            [image]="getImage(product.image!)"
            [price]="product.price!.toString()"
            [title]="product.name!"
            class="item">
          </app-product-item>
        </div>
      </div>
    </div>
    <button (click)="scrollRight()" [ngClass]="{'disabled': atEnd}" class="arrow">&#9654;</button>
  </div>

  <div class="logo">
    <div [class.isLeft]="isLeft()" class="logo-container">
      <img [src]=imageSection alt="" class="img-bg">
      <div [class.isLeft]="isLeft()" class="text-bg"><span class="text-bg">{{ titleSection }}</span></div>
    </div>
  </div>
</div>


