@import "src/app/common/styles/mixin";

.container-item-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  direction: ltr;
}

.container-item-row.isLeft {
  flex-direction: row-reverse;
}


.logo {
  display: flex;
  position: relative;
  overflow: hidden;

  @include res-lg-styles {
    display: none;
  }

}

.logo-container {
  position: relative;
  left: -15%;
  right: initial;
  display: flex;
  align-items: start;
  direction: rtl;
}

.logo-container.isLeft {
  right: -5%;
  left: initial;
  direction: ltr;
}


.text-bg {
  width: 200px;
  height: 100%;
  z-index: 999;
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: center; /* Center items horizontally */
  align-items: center;
  color: white;
  font-size: 1rem;
  padding-right: .5rem;
  padding-left: .5rem;
  font-weight: 600;
  text-align: center;
}

.text-bg.isLeft {
  justify-content: end;
  //flex-direction: row-reverse;
  //background-color: ;
}


/* Image inside container */
.img-bg {
  position: absolute;
  width: auto;    /* Image width */
  height: 100%;    /* Maintain aspect ratio */
}

.container-item {
  display: flex;
  align-items: center;
  width: 80%;
  direction: ltr;

  @include res-lg-styles {
    width: 100%;
  }

}

.scroll-list {
  display: flex;
  overflow-x: hidden; /* Hide scrollbars */
  scroll-behavior: smooth;
}

.carousel-container {
  width: 100%;
}


.carousel-control-prev-icon {
  background-color: VAR(--primary-color);
}

.carousel-control-next-icon {
  background-color: VAR(--primary-color);
}

.product-width {
  width: 30%;

  @include res-md-styles {
    width: 50%;
  }
}

