<div class="modal-container">
  <div #close class="modal-close-icon" data-bs-dismiss="offcanvas">
    <i class="fa fa-times"></i>
  </div>
  <div class="text-center">
    <div class="login-title">
      <h3>{{ 'LOGIN_TITLE' | translate }}</h3>
    </div>
    <p>{{ 'LOGIN_SUB_TITLE' | translate }}</p>
  </div>
  <div class="container">
    <input-text-field
      id="loginEmail"
      [group]="formGroup"
      [showPrefixIcon]="true"
      [inputType]="InputType.email"
      [validators]="[Validators.required, Validators.email]"
      [floatingLabel]="'EMAIL' | translate">
    </input-text-field>
    <input-text-field
      id="loginPassword"
      [group]="formGroup"
      [showPrefixIcon]="true"
      [inputType]="InputType.password"
      [validators]="[Validators.required]"
      [floatingLabel]="'PASSWORD' | translate">
    </input-text-field>
    <div (click)="forgetPassword()" class="forget-password ms-auto">
      <p>{{ 'FORGET_PASSWORD' | translate }}</p>
    </div>
    <div class="alert alert-danger form-alert" *ngIf="errorMessage !== null">{{ errorMessage }}</div>
    <div class="mt-4">
      <primary-button
        (onClick)="login()"
        [loading]="isLoading"
        [title]="'LOGIN' | translate"
        [enabled]="formGroup.valid">
      </primary-button>
    </div>
    <div class="account-container">
      <p>{{ 'DONT_HAVE_ACCOUNT' | translate }}</p>
      <div class="register-button" data-bs-toggle="offcanvas" data-bs-target="#registrationView"
           aria-controls="registrationView">
        <p>{{ 'REGISTER' | translate }}</p>
      </div>
    </div>
  </div>
</div>

