@import "src/app/common/styles/mixin";

.list-page-content {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  @include res-md-styles {
    flex-direction: column;
  }
}

.products-container {
  width: 100%;
}

.products-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-line {
  white-space: nowrap;
}

.filter-container {
  display: none;

  @include res-lg-styles {
    display: flex;
    cursor: pointer;
  }

}
