<div class="footer-container">
  <div class="text-center">
    <p>{{ 'WORKING_HOURS' | translate }}</p>
  </div>
  <div class="policies-container container">
    <div routerLink="/about"><p>{{ 'ABOUT_US' | translate }}</p></div>
    <div routerLink="/delivery-return-policy"><p>{{ 'DELIVERY_RETURN_POLICY' | translate }}</p></div>
    <div routerLink="/privacy"><p>{{ 'PRIVACY' | translate }}</p></div>
    <div routerLink="/terms-and-conditions"><p>{{ 'TERM_AND_CONDITIONS' | translate }}</p></div>
  </div>
  <div class="horizontal-separator"></div>
  <div class="etoile-links-container">
    <div class="d-flex column-gap-3 mb-3 justify-content-center">
      <a href="https://www.facebook.com/EtoilePatisserieEgypt" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.instagram.com/etoileegy/?hl=en" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
<!--      <a href="https://www.tiktok.com/@etoilesaudi?_t=8pZfbhhIKkJ&_r=1" target="_blank">-->
<!--        <i class="fa-brands fa-tiktok"></i>-->
<!--      </a>-->
      <a href="https://www.youtube.com/channel/UClSbWRW8Yj-7xPHeLwWFc2w" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
<!--      <a href="https://x.com/EtoileSaudi" target="_blank">-->
<!--        <i class="fab fa-x-twitter"></i>-->
<!--      </a>-->
    </div>
    <div class="d-flex column-gap-3">
      <a href="https://play.google.com/store/apps/details?id=com.etoile.etoile_egy">
        <img src="assets/images/google-play-icon.png">
      </a>
      <a href="https://apps.apple.com/in/app/etoile/id1569142059">
        <img src="assets/images/app-store-icon.png">
      </a>
    </div>
  </div>
</div>
