<div class="contact-info-container">
  <a href="tel:16312" class="contact-item-details">
    <i class="fas fa-phone-volume"></i>
    <p> Call us: 16312</p>
  </a>
  <div class="contact-item-details">
    <i class="fas fa-truck"></i>
    <p>Delivery time from 45:60 mins</p>
  </div>
  <div class="contact-item-details">
    <i class="far fa-envelope"></i>
    <p>Easy Payment Methods</p>
  </div>
</div>
<div class="sticky-md-top bg-white">
  <div class="header-content">
    <a href="/" class="logo-centered">
      <img loading="lazy" src="https://www.etoileeg.online/Upload?id=73012" class="img-fluid">
    </a>
    <search-bar style="flex-grow: 1; margin-right: 6rem;"></search-bar>
    <user-info class="ms-lg-auto"></user-info>
    <div class="language-container">
      <img loading="lazy" src="https://www.etoileeg.online/public/Content/images/egypt.png">
      <p>العربيه</p>
    </div>
  </div>
  <div class="horizontal-separator"></div>
  <categories></categories>
</div>

<div class="container">
  <main-products-carousel></main-products-carousel>
  <main-products-carousel></main-products-carousel>
</div>
<app-footer></app-footer>
