<div class="container">
  <app-loading [loadingData]="loading"></app-loading>
  <div class="alert alert-danger alert-dismissible form-alert" *ngIf="errorMessage !== null">
    {{ errorMessage }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="errorMessage=''">
    </button>
  </div>
  <div class="checkout-container" *ngIf="!shouldHideTabs()">
    <div class="tabs-container">
      <div class="nav">
        <div class="nav-item active"
             (click)="activeTab !== 'confirm' ? activeTab = 'shipping' : ''"
             [ngClass]="{'active': activeTab === 'shipping'}">
          <i class="fas fa-motorcycle"></i>
          <p>{{ 'SHIPPING' | translate }}</p>
        </div>
        <div class="checkout-tabs-separator"></div>
        <div class="nav-item"
             [ngClass]="{'active': activeTab === 'payment'}">
          <i class="fas fa-credit-card"></i>
          <p>{{ 'PAYMENT' | translate }}</p>
        </div>
        <div class="checkout-tabs-separator"></div>
        <div class="nav-item"
             [ngClass]="{'active': activeTab === 'confirm'}">
          <i class="fas fa-check-circle"></i>
          <p>{{ 'CONFIRMATION' | translate }}</p>
        </div>
      </div>
      <div class="tab-content">
        <div class='tab-pane container fade active show' id='shipping'
             [ngClass]="{'show': activeTab === 'shipping', 'active': activeTab === 'shipping'}">
          <app-shipping-tab
            [addresses]="addresses"
            [isSelfPickupOnly]="configModel?.selfPickup ?? false"
            [isHomeDelivery]="configModel?.homeDelivery ?? false"
            (onProceedClicked)="moveToPayment($event)">
          </app-shipping-tab>
        </div>
        <div class='tab-pane container fade' id='payment'
             [ngClass]="{'show': activeTab === 'payment', 'active': activeTab === 'payment' }">
          <app-payments-tab
            [selectedAddressId]="selectedAddressId"
            [loading]="placingOrder"
            (onPayClicked)="placeOrder($event)">
          </app-payments-tab>
        </div>
        <div class='tab-pane container fade' id='confirm'
             [ngClass]="{'show': activeTab === 'confirm', 'active': activeTab === 'confirm' }">
          <div class="text-center">
            <img class="order-success-image" src="assets/images/order-success-image.jpg">
            <p>{{ 'ORDER_SUCCESS' | translate : {orderId: orderId} }}</p>
            <primary-button
              (onClick)="goToOrderDetails()"
              [title]="'VIEW_ORDER_DETAILS' | translate"
              class="d-flex justify-content-center mt-2">
            </primary-button>
          </div>
        </div>
      </div>
    </div>
    <app-checkout-order-summary
      *ngIf="activeTab !== 'confirm'"
      [delivery]="deliveryCharge"
      [appliedDiscount]="discountAvailabilityModel?.applicableAmount ?? 0"
      (onCouponAppliedSuccessfully)="applyCoupon($event)"
      [showExtraDetails]="activeTab === 'payment'"
      (discountAmount)="totalDiscount = $event"
      class="order-summary">
    </app-checkout-order-summary>
  </div>
  <div class="empty-cart" *ngIf="cartProductItems.isEmpty() && activeTab !== 'confirm'">
    <img src="assets/images/basket.png" loading="lazy">
    <p>{{ 'EMPTY_CART' | translate }}</p>
    <primary-button
      class="d-flex justify-content-center mt-2"
      routerLink="/"
      [buttonPadding]="0.5"
      [title]="'GO_SHOPPING' | translate">
    </primary-button>
  </div>
</div>

<div #openMyFatoorahElem data-bs-target="#myFatoorah" data-bs-toggle="modal"></div>

<div class="modal fade modal-index" id="myFatoorah" tabindex="-1" aria-labelledby="deleteProductModalLabel"
     aria-hidden="true">
  <!--  <app-my-fatoorah-payments-modal-->
  <!--    [myFatoorahPaymentMethods]="myFatoorahPaymentMethods"-->
  <!--    (onPaymentSelected)="executeMyFatoorahTransaction($event)">-->
  <!--  </app-my-fatoorah-payments-modal>-->
</div>

<div #discountAvailElem data-bs-target="#discountModal" data-bs-toggle="modal"></div>
<div class="modal fade modal-index" id="discountModal">
  <app-discount-available-dialog
    [discountAvailabilityModel]="discountAvailabilityModel">
  </app-discount-available-dialog>
</div>
