<div class="container">
  <app-loading [loadingData]="loading"></app-loading>
  <div class="checkout-container">
    <div class="tabs-container">
      <div class="nav">
        <div class="nav-item active"
             (click)="activeTab = 'shipping'"
             data-bs-toggle='tab' [ngClass]="{'active': activeTab === 'shipping'}">
          <i class="fas fa-motorcycle"></i>
          <p>Shipping</p>
        </div>
        <div class="checkout-tabs-separator"></div>
        <div class="nav-item"
             [ngClass]="{'active': activeTab === 'payment'}">
          <i class="fas fa-credit-card"></i>
          <p>Payment</p>
        </div>
        <div class="checkout-tabs-separator"></div>
        <div class="nav-item"
             [ngClass]="{'active': activeTab === 'confirm'}">
          <i class="fas fa-check-circle"></i>
          <p>Confirmation</p>
        </div>
      </div>
      <div class="tab-content">
        <div class='tab-pane container fade active show' id='shipping'
             [ngClass]="{'show': activeTab === 'shipping', 'active': activeTab === 'shipping'}">
          <app-shipping-tab [addresses]="addresses" (onProceedClicked)="moveToPayment()"></app-shipping-tab>
        </div>
        <div class='tab-pane container fade' id='payment'
             [ngClass]="{'show': activeTab === 'payment', 'active': activeTab === 'payment' }">
          <app-payments-tab (onPayClicked)="moveToConfirm()"></app-payments-tab>
        </div>
        <div class='tab-pane container fade' id='confirm'
             [ngClass]="{'show': activeTab === 'confirm', 'active': activeTab === 'confirm' }">3
        </div>
      </div>
    </div>
    <app-checkout-order-summary class="order-summary"></app-checkout-order-summary>
  </div>
</div>
