@import "src/app/common/styles/mixin";

.checkout-container {

  display: flex;
  justify-content: space-between;

  @include res-md-styles {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    row-gap: 1rem;
  }

}

.tabs-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: fit-content;
  row-gap: 2rem;
}

.nav-item {
  text-align: center;
  cursor: pointer;

  i {
    font-size: 2rem;
    color: VAR(--lightgray);
  }

  p {
    color: VAR(--lightgray);
  }
}

.nav {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  justify-content: space-between;
  padding: 1rem;
  flex-grow: 1;
  margin-inline-end: 2rem;
  height: fit-content;

  @include res-md-styles {
    margin-inline-end: 0;
  }
}

.active {
  i {
    color: VAR(--primary-color);
  }

  p {
    color: VAR(--black);
  }
}

.checkout-tabs-separator {
  height: 2px;
  background: VAR(--lightgray);
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.order-summary {
  min-width: 40%;
}

