<div class="cart-container">
  <div class="cart-title-container">
    <h3 class="cart-title">Cart</h3>
    <div class="close-icon" data-bs-dismiss="offcanvas">
      <i class="fa fa-times"></i>
    </div>
  </div>
  <div class="products-container">
    <cart-side-item *ngFor="let cartProduct of cartProducts" [cartProduct]="cartProduct"></cart-side-item>
  </div>

  <div class="action-buttons">
    <div class="price-container">
      <p>Sub Total</p>
      <p>{{ totalPrice / 100}} {{ 'CURRENCY' | translate }}</p>
    </div>
    <primary-button
      title="View your cart"
      routerLink="/cart"
      [buttonPadding]="0.5">
    </primary-button>
    <button type="button" class="btn btn-secondary">Checkout</button>
  </div>
</div>
