<div class="cart-container">
  <div class="cart-title-container">
    <h3 class="cart-title">{{ 'CART' | translate }}</h3>
    <div class="close-icon" data-bs-dismiss="offcanvas">
      <i class="fa fa-times"></i>
    </div>
  </div>
  <div class="products-container">
    <cart-side-item
      *ngFor="let cartProduct of cartProducts; let i = index;"
      [productIndex]="i"
      [cartProduct]="cartProduct">
    </cart-side-item>
  </div>

  <div class="empty-cart" *ngIf="cartProducts.isEmpty()">
    <img src="https://etoileeg.online/public/Content/images/basket.png" loading="lazy">
    <p>{{ 'EMPTY_CART' | translate }}</p>
  </div>

  <div class="action-buttons" *ngIf="cartProducts.isNotEmpty()">
    <div class="price-container">
      <p>{{ 'SUBTOTAL' | translate }}</p>
      <p>{{ totalPrice }} {{ 'CURRENCY' | translate }}</p>
    </div>
    <primary-button
      [title]="'VIEW_CART' | translate"
      routerLink="/cart"
      data-bs-dismiss="offcanvas"
      [buttonPadding]="0.5">
    </primary-button>
    <button type="button" (click)="goToCheckOut()" class="btn btn-secondary" data-bs-dismiss="offcanvas">
      {{ 'CHECKOUT' | translate }}
    </button>
  </div>
</div>

<div #loginElemRef data-bs-target="#loginView" data-bs-toggle="offcanvas"></div>
