<div class="container">
  <div class="cart-item-container">
    <img [src]="getImage()"/>
    <div class="text-center">
      <p>{{ cartProduct.product.name }}</p>
      <div class="product-description"><p>{{ cartProduct.product.description }}</p></div>
      <div class="add-remove-cart-container">
        <div class="cart-button" (click)="decreaseProduct()"><i class="fas fa-minus"></i></div>
        <div class="ms-3 me-3"><p>{{ cartProduct.count }}</p></div>
        <div class="cart-button" (click)="increaseProduct()"><i class="fas fa-plus"></i></div>
      </div>
      <div class="price-container">
        <p>Price:</p>
        <p>{{ cartProduct.product.price! }} {{ 'CURRENCY' | translate }}</p>
      </div>
    </div>
    <i data-bs-toggle="modal" data-bs-target="#deleteProduct" (click)="removeProduct(cartProduct)"
       class="fas fa-trash-alt delete-icon clickable"></i>
  </div>
  <div class="horizontal-separator"></div>
</div>

