<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        {{ 'REMOVE_ALL_PRODUCTS_TITLE' | translate }}
      </h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      {{ 'REMOVE_ALL_PRODUCTS_NOTE' | translate }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'CANCEL' | translate }}</button>
      <primary-button title="Yes" [buttonPadding]="0.5" data-bs-dismiss="modal" (onClick)="clearCart()">
      </primary-button>
    </div>
  </div>
</div>

