.user-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.25rem;

  p {
    color: VAR(--darkgray)
  }
}

.icon-size {
  font-size: 1.5rem;
  color: VAR(--primary-color);
}

.vertical-separator {
  border-left: 2px solid VAR(--lightgray);
  height: 1.5rem;
}

.user-info-item-container {
  display: flex;
  cursor: pointer;
  column-gap: 0.5rem;
  align-items: center;

  a {
    font-size: 0.75rem !important;
    color: VAR(--primary-color)
  }

}
