<div class="scroll-container">
  <main-products-carousel *ngIf="banners.isNotEmpty()" [banners]="banners" [bannersUrl]="configModel?.baseUrls?.bannerImageUrl ?? ''"></main-products-carousel>
  <div class="panner-item"></div>

  <div class="panner-item image-container">
    <img class="img-fluid w-100"
         loading="lazy"
         src="https://linktsp.blob.core.windows.net/xretoile/246371f5-3a6e-4297-a125-8b3f9842c4c0-638473300556020330.png">
    <div class="overlay"></div>
  </div>

  <desserts *ngIf="shouldShowSpecial()"
    [direction]="'right'"
    [imageSection]="'assets/images/home-asset/bg-section1.png'"
    [productModel]="recommendedProducts!.products!.isNotEmpty() ? recommendedProducts : popularProducts"
    [titleSection]="'OUR ESPEICAL GATEAUX'">
  </desserts>

  <desserts
    [direction]="'left'"
    [imageSection]="'assets/images/home-asset/bg-section2.png'"
    [productModel]="bestSellerProducts"
    [titleSection]="'Best Seller'">
  </desserts>

  <div class="panner-item">
    <img alt="Bakeries"
         class="img-fluid w-100"
         loading="lazy"
         src="https://linktsp.blob.core.windows.net/xretoile/355f4491-2a5a-4032-a710-1cc313484648-638473297841348912.png">
  </div>

  <app-list-scroll-horizontal *ngIf="popularProducts !== null && popularProducts!.products!.isNotEmpty()"
    [items]="popularProducts"
    [title]="'Most Trendy'"
    direction="left">
  </app-list-scroll-horizontal>

  <app-list-scroll-horizontal *ngIf="latestProducts !== null && latestProducts!.products!.isNotEmpty()"
    [items]="latestProducts"
    [title]="'New Arrival'"
    direction="right">
  </app-list-scroll-horizontal>
  <app-scroll-up-btn></app-scroll-up-btn>

</div>



