<div class="scroll-container">
  <div class="container">  <main-products-carousel></main-products-carousel></div>


  <div class="panner-item">

  </div>

  <div class="panner-item image-container">
    <img loading="lazy" src="https://linktsp.blob.core.windows.net/xretoile/246371f5-3a6e-4297-a125-8b3f9842c4c0-638473300556020330.png" class="img-fluid w-100">
    <div class="overlay"></div>
  </div>


  <desserts [titleSection]="'OUR ESPEICAL GATEAUX'"
            [imageSection]="'assets/images/home-asset/bg-section1.png'"
            [direction]="'right'"
            [items]="section1"
  ></desserts>

  <desserts [titleSection]="'BestSeller'"
            [imageSection]="'assets/images/home-asset/bg-section2.png'"
            [direction]="'left'"
            [items]="section2"
  ></desserts>


  <div class="panner-item"><img loading="lazy" src="https://linktsp.blob.core.windows.net/xretoile/355f4491-2a5a-4032-a710-1cc313484648-638473297841348912.png" alt="Bakeries" class="img-fluid w-100"> <!----></div>

  <app-scroll-up-btn></app-scroll-up-btn>
</div>




