<div class="scroll-container">
  <div class="container">  <main-products-carousel></main-products-carousel></div>

  <desserts [titleSection]="'OUR ESPEICAL GATEAUX'"
            [imageSection]="'assets/images/home-asset/bg-section1.png'"
            [direction]="'right'"
            [items]="section1"
  ></desserts>

  <desserts [titleSection]="'BestSeller'"
            [imageSection]="'assets/images/home-asset/bg-section2.png'"
            [direction]="'left'"
            [items]="section2"
  ></desserts>

  <app-scroll-up-btn></app-scroll-up-btn>
</div>




