<div>
  <div class="user-addresses-container">
    <div class="d-flex flex-sm-wrap" *ngIf="addresses.isNotEmpty()">
      <div *ngFor="let address of addresses" class="address-item-width">
        <app-address-item [address]="address"></app-address-item>
      </div>
    </div>
    <div class="text-center" *ngIf="addresses.isEmpty()">
      <img src="https://etoileeg.online/public/Content/images/empty-address.png" loading="lazy">
      <p>{{ 'EMPTY_ADDRESSES' | translate }}</p>
    </div>
  </div>
  <primary-button
    (onClick)="addNewAddress()"
    class="add-address-button"
    data-bs-target="#address"
    data-bs-toggle="modal"
    [buttonPadding]="0.5"
    title="Add new address">
  </primary-button>
</div>

