.otp-field {
  flex-direction: row;
  column-gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.otp-field input {
  height: 2.5rem;
  width: 2.4rem;
  border-radius: 0.2rem;
  outline: none;
  font-size: 1.125rem;
  text-align: center;
  border: 1px solid #ddd;
}
.otp-field input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.otp-field input::-webkit-inner-spin-button,
.otp-field input::-webkit-outer-spin-button {
  display: none;
}

.resend {
  font-size: 1rem;
}

.resend-code {
  color: VAR(--primary-color);
  text-decoration-line: underline;
  text-decoration-color: VAR(--primary-color);
  cursor: pointer;
}

.mobile-icon {
  font-size: 5rem;
  color: VAR(--primary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
