.form-floating > label:dir(rtl) {
  right: 0 !important;
  left: inherit !important;
}

.form-control.is-invalid:dir(rtl) {
  background-position-x: 0.5rem !important;
}

.form-control.is-invalid:dir(rtl), .was-validated:dir(rtl) .form-control:invalid:dir(rtl) {
  background-position-x: 0.5rem !important;
  padding-right: 0.75rem !important;
}

.password-show-icon {
  cursor: pointer;
  position: absolute;
  font-size: 1.25rem;
  color: var(--primary-color);
  top: 1.2rem;
  right: 1rem;
}

.password-show-icon:dir(rtl) {
  right: inherit !important;
  left: 1rem !important;
}

.input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating):dir(rtl) {
  border-radius: 0 0.5rem 0.5rem 0;
}

.input-group>.form-floating:not(:first-child)>.form-control:dir(rtl) {
  border-radius: 0.5rem 0 0 0.5rem;
}
