.checkout-summary-container {
  padding: 2rem;
  background-color: VAR(--gray2);
  border-radius: 0.5rem;
}

.total-price-container {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.cart-product-item-container {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;

  img {
    width: 7rem;
  }
}

.item-price {
  margin-inline-start: auto;

  p {
    font-weight: 600;
  }
}

.horizontal-separator {
  background: VAR(--white) !important;
}

.form-check-input {
  padding: 1.2rem;
  margin-top: 0;
  flex-grow: 1;
  border-radius: 0.5rem;
}

.quantity-container {
   p {
     font-size: 0.875rem;
     color: VAR(--primary-color);
     font-weight: 600;
   }
}

