<div>
  <div class="payment-option-container">
    <div class="form-check">
      <input class="form-check-input"
             (change)="onPaymentSelectionChanged(defaultPayment)"
             type="radio"
             name="paymentGroup"
             id="cashOnDelivery" checked>
      <label class="form-check-label" for="cashOnDelivery">
        {{ 'CASH_ON_DELIVERY' | translate }}
      </label>
      <i class="fas fa-wallet ms-auto"></i>
    </div>
  </div>
  <div class="payment-option-container" *ngFor="let payment of activePaymentMethods">
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="paymentGroup"
        (change)="onPaymentSelectionChanged(payment)"
        [value]="payment"
        id="input - {{payment.getWay}}">
      <label class="form-check-label" for="input - {{payment.getWay}}">
        {{ payment.getWayTitle }}
      </label>
      <i class="fas fa-credit-card ms-auto"></i>
    </div>
  </div>
  <div class="payment-button">
    <primary-button
      [loading]="loading"
      (onClick)="placeOrder()"
      [buttonPadding]="0.5"
      [title]="'CONFIRM' | translate">
    </primary-button>
  </div>
</div>
