<div class="user-info-container">
  <div class="user-info-item-container">
    <i class="fas fa-user icon-size"></i>
    <p>{{ 'LOGIN' | translate }}</p>
  </div>
  <p>/</p>
  <div class="user-info-item-container">
    <p>{{ 'REGISTER' | translate }}</p>
  </div>
  <div class="vertical-separator"></div>
  <div class="user-info-item-container">
    <i class="fas fa-shopping-basket icon-size"></i>
    <p>0</p>
    <p>Item(s)</p>
  </div>
  <div class="vertical-separator"></div>
  <div class="user-info-item-container">
    <i class="fas fa-map-marker-alt ml-1 mr-1 icon-size"></i>
    <p>Maadi</p>
    <a routerLink="/">{{ 'CHANGE' | translate }}</a>
  </div>
</div>
