<div>
  <h5>Shipping</h5>
  <div class="d-flex justify-content-between">
    <p>Select Your Shipping Address</p>
    <div class="add-address-container">
      <i class="fas fa-plus-circle pr-1"></i>
      <p>Add New Address</p>
    </div>
  </div>
  <div class="addresses-container">
    <input class="mt-2" type="radio" checked>
    <div>
      <p>Maadi</p>
      <p>Mohamed Mazhar</p>
      <p>Address details</p>
    </div>
    <div class="ms-auto">
      <i class="fas fa-edit"></i>
    </div>
  </div>
  <div class="payment-button">
    <primary-button
      (onClick)="moveToPayment()"
      [buttonPadding]="0.5"
      title="Proceed to payment">
    </primary-button>
  </div>
</div>
