@import "src/app/common/styles/mixin";

.list-page-content {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  @include res-md-styles {
    flex-direction: column;
  }
}

.products-container {
  width: 100%;
}

.products-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-line {
  white-space: nowrap;
}

.filter-container {
  display: none;

  @include res-lg-styles {
    display: flex;
    cursor: pointer;
  }

}

.product-item-container {
  width: 30%;

  @include res-lg-styles {
    width: 50%;
  }

  @include res-md-styles {
    width: 60%;
  }
}

.product-items-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;

  @include res-md-styles {
    justify-content: center;
  }
}

.load-more-button {
  display: block;
  width: fit-content;
  margin: auto;
}

.loading-products {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  width: 100%;
}
