<div class="container">
  <app-loading [loadingData]="loading"></app-loading>
  <div class="list-page-content">
    <app-products-filter
      *ngIf="productsMaxPrice !== null"
      [categories]="categories"
      (onClearClicked)="clearFilters()"
      (onchange)="applyFilter($event)"
      (onApplyButtonClicked)="applyButtonFilters($event)"
      [maxPrice]="productsMaxPrice">
    </app-products-filter>
    <div class="products-container">
      <div class="products-details-container">
        <p>{{ 'NUMBER_OF_PRODUCTS' | translate : params }}</p>
        <div class="align-items-center filter-container" data-bs-toggle="offcanvas" data-bs-target="#mobileFilter">
          <i class="fas fa-filter mx-1"></i>
          <p>Filter</p>
        </div>
        <div class="d-flex align-items-center column-gap-3">
          <div class="single-line"><p>{{ 'SORT_BY' | translate }}</p></div>
          <select class="form-select" aria-label="Default select example">
            <option selected>{{ 'AVAILABLE_ON_STOCK' | translate }}</option>
            <option value="1">{{ 'BEST_SELLER' | translate }}</option>
            <option value="2">{{ 'NEW_ARRIVALS' | translate }}</option>
            <option value="3">{{ 'PRODUCT_ASC' | translate }}</option>
            <option value="4">{{ 'PRODUCT_DESC' | translate }}</option>
            <option value="5">{{ 'PRICE_HIGHEST' | translate }}</option>
            <option value="6">{{ 'PRICE_LOWEST' | translate }}</option>
          </select>
        </div>
      </div>
      <div class="horizontal-separator"></div>
      <app-loading-products class="loading-products" *ngIf="loadingProductsFilter"></app-loading-products>
      <div class="product-items-container" *ngIf="!loadingProductsFilter">
        <app-product-item
          *ngFor="let product of products"
          class="product-item-container"
          [product]="product"></app-product-item>
      </div>
      <primary-button
        *ngIf="showLoadMore && !loadingProductsFilter"
        class="load-more-button"
        title="Show More"
        [loading]="isLoadingMore"
        (onClick)="loadMore()">
      </primary-button>
    </div>
  </div>
</div>
