<div class="container">
  <h3>{{ 'TERMS_AND_CONDITIONS_TITLE' | translate }}</h3>
  <h4>{{ 'TERMS_AND_CONDITIONS_1' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'TERMS_AND_CONDITIONS_1_1' | translate }}</li>
  </ul>
  <h4>{{ 'TERMS_AND_CONDITIONS_2' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'TERMS_AND_CONDITIONS_2_1' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_2_2' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_2_3' | translate }}</li>
  </ul>
  <h4>{{ 'TERMS_AND_CONDITIONS_3' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'TERMS_AND_CONDITIONS_3_1' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_3_2' | translate }}</li>
  </ul>
  <h4>{{ 'TERMS_AND_CONDITIONS_4' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'TERMS_AND_CONDITIONS_4_1' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_4_2' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_4_3' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_4_4' | translate }}</li>
  </ul>
  <h4>{{ 'TERMS_AND_CONDITIONS_5' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'TERMS_AND_CONDITIONS_5_1' | translate }}</li>
  </ul>
  <h4>{{ 'TERMS_AND_CONDITIONS_6' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'TERMS_AND_CONDITIONS_6_1' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_6_2' | translate }}</li>
    <li>{{ 'TERMS_AND_CONDITIONS_6_3' | translate }}</li>
  </ul>
  <h4>{{ 'TERMS_AND_CONDITIONS_7' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'TERMS_AND_CONDITIONS_7_1' | translate }}</li>
  </ul>
</div>
