<div class="container">
  <h3>{{ 'PRIVACY_TITLE_1' | translate }}</h3>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_1_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_1_2' | translate }}</li>
  </ul>
  <h3>{{ 'PRIVACY_TITLE_2' | translate }}</h3>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_2_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_2_2' | translate }}</li>
  </ul>
  <h3>{{ 'PRIVACY_TITLE_3' | translate }}</h3>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_3_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_3_2' | translate }}</li>
  </ul>
  <h3>{{ 'PRIVACY_TITLE_4' | translate }}</h3>
  <h5>{{ 'PRIVACY_TITLE_4_1' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_4_1_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_4_1_2' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_4_2' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_4_2_1' | translate }}</li>
    <ul class="text-tab">
      <li>{{ 'PRIVACY_TITLE_4_2_1_1' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_4_2_1_2' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_4_2_1_3' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_4_2_1_4' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_4_2_1_5' | translate }}</li>
    </ul>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_4_3' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_4_3_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_4_3_2' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_4_3_3' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_4_3_4' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_4_4' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_4_4_1' | translate }}</li>
    <ul class="text-tab">
      <li>{{ 'PRIVACY_TITLE_4_4_1_1' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_4_4_1_2' | translate }}</li>
    </ul>
    <li>{{ 'PRIVACY_TITLE_4_4_2' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_4_4_3' | translate }}</li>
  </ul>
  <h4>{{ 'PRIVACY_TITLE_5' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_5_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_5_2' | translate }}</li>
  </ul>
  <h4>{{ 'PRIVACY_TITLE_6' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_6_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_6_2' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_6_3' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_6_4' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_6_4_1' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_6_5' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_6_5_1' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_6_6' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_6_6_1' | translate }}</li>
  </ul>
  <h4>{{ 'PRIVACY_TITLE_7' | translate }}</h4>
  <p>{{ 'PRIVACY_TITLE_7_1' | translate }}</p>
  <ul class="text-tab">
    <li><h6 class="fw-bold text-black">{{ 'PRIVACY_TITLE_7_1_1' | translate }}</h6></li>
    <ul class="text-tab">
      <li>{{ 'PRIVACY_TITLE_7_1_1_1' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_7_1_1_2' | translate }}</li>
    </ul>
    <li><h6 class="fw-bold text-black">{{ 'PRIVACY_TITLE_7_1_2' | translate }}</h6></li>
    <ul class="text-tab">
      <li>{{ 'PRIVACY_TITLE_7_1_2_1' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_7_1_2_2' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_7_1_2_3' | translate }}</li>
    </ul>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_7_2' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_7_2_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_7_2_2' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_7_3' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_7_3_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_7_3_2' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_7_4' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_7_4_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_7_4_2' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_7_5' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_7_5_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_7_5_2' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_7_5_3' | translate }}</li>
  </ul>
  <h4>{{ 'PRIVACY_TITLE_8' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_8_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_8_2' | translate }}</li>
    <ul class="text-tab">
      <li>{{ 'PRIVACY_TITLE_8_2_1' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_8_2_2' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_8_2_3' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_8_2_4' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_8_2_5' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_8_2_6' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_8_2_7' | translate }}</li>
      <li>{{ 'PRIVACY_TITLE_8_2_8' | translate }}</li>
    </ul>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_8_3' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_8_3_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_8_3_2' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_8_4' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_8_4_1' | translate }}</li>
  </ul>
  <h4>{{ 'PRIVACY_TITLE_9' | translate }}</h4>
  <h5>{{ 'PRIVACY_TITLE_9_1' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_9_1_1' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_9_2' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_9_2_1' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_9_3' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_9_3_1' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_9_4' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_9_4_1' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_9_5' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_9_5_1' | translate }}</li>
  </ul>
  <h5>{{ 'PRIVACY_TITLE_9_6' | translate }}</h5>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_9_6_1' | translate }}</li>
    <li>{{ 'PRIVACY_TITLE_9_6_2' | translate }}</li>
  </ul>
  <h4>{{ 'PRIVACY_TITLE_10' | translate }}</h4>
  <ul class="text-tab">
    <li>{{ 'PRIVACY_TITLE_11' | translate }}</li>
  </ul>
</div>
