.container {
  li {
    margin-bottom: 0.5rem;
    color: VAR(--darkgray) !important;
  }

  h5 {
    margin-inline-start: 1rem;
  }

  p {
    color: VAR(--darkgray) !important;
  }
}

.text-tab {
  margin-inline-start: 2rem;
}
