@import "src/app/common/styles/mixin";

.select-zone {
  display: flex;
  justify-content: start;
  border: 1px solid VAR(--gray2);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;

  .dropdown-menu {
    max-height: 20rem;
    min-height: 15rem;
    overflow-y: auto;
  }

}

.zone-button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: VAR(--white);
  height: 3rem;
  text-align: start;

}
