.product-details-container {
  display: flex;
  column-gap: 2rem;

  .product-name {
    p {
      font-size: 2rem;
      color: VAR(--primary-color);
      font-weight: 600;
    }
  }

  .product-price {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    p {
      font-size: 1.5rem;
      color: VAR(--primary-color);
      font-weight: 500;
    }
  }

}

.product-image {
  //flex-grow: 1;
  width: 50%;
}

.product-details {
  //flex-grow: 1;
  width: 50%;
}

.product-review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  margin-top: 0.5rem;
}

.add-review-text {
  display: flex;
  text-decoration: underline;
  text-decoration-color: VAR(--primary-color);
  align-items: center;
  cursor: pointer;

  i {
    color: VAR(--primary-color);
  }

  p {
    color: VAR(--primary-color);
    font-weight: 600;
  }
}

.customer-rate {
  display: flex;
  column-gap: 0.325rem;

  img {
    width: 1rem;
    height: 1rem;
  }
}

.number-of-reviews {
  p {
    font-weight: 500;
  }
}

.product-size-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-size {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.product-selected-size {
  border: 1px solid VAR(--primary-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.change-product-number {
  display: flex;
  border-radius: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: space-between;
  margin-right: 1rem;
  align-items: center;
}

.cart-button {
  background-color: VAR(--primary-color);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border-radius: 0.25rem;
  color: VAR(--white);
  cursor: pointer;
}

.delivery-info {
  margin-top: 0.5rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.addons-container {
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
  cursor: pointer;

  i {
    color: VAR(--white);
  }
}

.add-icon-background {
  background-color: VAR(--primary-color);
  border-radius: 50%;
  padding: 0.25rem;
}

