<div class="product-details-container container">
  <app-loading [loadingData]="loading"></app-loading>
  <div class="product-image">
    <img [src]="getImage()">
  </div>
  <div class="product-details" *ngIf="product !== null && product !== undefined">
    <div class="product-name"><p>{{ product.name }}</p></div>
    <p>{{ 'PRODUCT_CODE' | translate : {productId: product.branchProduct?.id} }}</p>
    <div class="product-price">
      <p>{{ (product.price ?? 0) }} {{ 'CURRENCY' | translate }}</p>
    </div>
    <p>{{ 'PRODUCTS_PRICE_VAT' | translate }}</p>
    <div class="product-review-container">
      <div class="customer-rate" *ngIf=" product.rating !== undefined">
        <img
          [src]="productRating >= 1 ? 'assets/images/active-star-icon.svg' : 'assets/images/in-active-star-icon.svg'">
        <img
          [src]="productRating >= 2 ? 'assets/images/active-star-icon.svg' : 'assets/images/in-active-star-icon.svg'">
        <img
          [src]="productRating >= 3 ? 'assets/images/active-star-icon.svg' : 'assets/images/in-active-star-icon.svg'">
        <img
          [src]="productRating >= 4 ? 'assets/images/active-star-icon.svg' : 'assets/images/in-active-star-icon.svg'">
        <img
          [src]="productRating >= 5 ? 'assets/images/active-star-icon.svg' : 'assets/images/in-active-star-icon.svg'">
      </div>
      <div class="number-of-reviews">
        <p>({{ product.rating?.length }} {{ 'CUSTOMER_REVIEWS' | translate }})</p>
      </div>
      <div class="add-review-text" data-bs-target="#addReview" data-bs-toggle="modal">
        <i class="fa fa-add"></i>
        <p>{{ 'ADD_REVIEW' | translate }}</p>
      </div>
    </div>
    <div class="horizontal-separator"></div>
    <p>{{ product.description }}</p>
    <div class="horizontal-separator"></div>
    <div class="product-size-quantity">
      <div class="product-size">
        <p>Size</p>
        <div class="product-selected-size">
          <p>Large</p>
        </div>
      </div>
      <div class="d-flex gap-1">
        <p>{{ 'PRODUCT_QUANTITY' | translate }}</p>
        <div class="change-product-number">
          <div class="cart-button" (click)="decreaseProductCount()"><i class="fas fa-minus"></i></div>
          <div class="ms-3 me-3"><p>{{ productCount }}</p></div>
          <div class="cart-button" (click)="increaseProductCount()"><i class="fas fa-plus"></i></div>
        </div>
      </div>
    </div>
    <div class="horizontal-separator"></div>
    <primary-button [title]="'ADD_TO_CART' | translate" (onClick)="addToCart()"></primary-button>
    <div class="delivery-info">
      <p>{{ 'DELIVERED_WITHIN' | translate }}</p>
    </div>
    <div class="delivery-info">
      <p>{{ 'PRODUCT_DELIVERY_NOTE' | translate }}</p>
    </div>
  </div>
</div>

<div class="modal fade modal-index" id="addReview" tabindex="-1" aria-labelledby="addReviewLabel" aria-hidden="true">
  <app-add-product-review-modal [productId]="product?.id!"></app-add-product-review-modal>
</div>
