<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <div (click)="loadCategory('Oriental Desserts')" class="nav-link category" id="navbarDropdown"
               data-bs-toggle="dropdown" aria-expanded="false">
            <p>Oriental Desserts</p>
          </div>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <ul>
              <li (click)="loadSubCategory('Oriental Desserts', 'Action')">
                <a class="dropdown-item">Action</a>
              </li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
            </ul>
            <ul>
              <li><a class="dropdown-item">Another action</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
            </ul>
            <ul>
              <li><a class="dropdown-item">Something else here</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
              <li><a class="dropdown-item">Mega Menu Link</a></li>
            </ul>
          </ul>
        </li>
        <li class="nav-item">
          <div class="nav-link category" id="navbarDropdown2" aria-expanded="false">
            <p>Discount</p>
          </div>
        </li>
        <li class="nav-item">
          <div class="nav-link category" id="navbarDropdown3" aria-expanded="false">
            <p>Western Desserts</p>
          </div>
        </li>
        <li class="nav-item dropdown">
          <div class="nav-link category" data-bs-toggle="dropdown" id="navbarDropdown4" aria-expanded="false">
            <p>Chocolate</p>
          </div>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <ul>
              <li><a class="dropdown-item">Dark Chocolate</a></li>
              <li><a class="dropdown-item">Corona Bar</a></li>
              <li><a class="dropdown-item">Despacito Strawberry</a></li>
              <li><a class="dropdown-item">Cappuccino Bar</a></li>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
